/**
 * @file
 * CSS for the tmgmt_memory admin pages.
 */

/* Highlighting of Segments. */
span.tmgmt_memory_highlight {
  background-color: yellow;
}

span.tmgmt_memory_highlight > p {
  background-color: yellow;
}

span.tmgmt_memory_highlight > div {
  background-color: yellow;
}
