Text not inside a paragraph.<p>one paragraph with special characters: äöüľščťžýáíéäňú©«®™»</p><p>one paragraph with a <br />break line</p><p>one paragraph with html entities: &amp;&lt;&gt;</p><p>and here we have some link <a href="http://example.com">break line</a></p><p>one paragraph with an <img src="not-existing.gif" alt="not existing image" title="not existing image" />image</p><p>hello <span class="green">world</span> this is <span class="red">simple html</span></p><div>nested 1<div>nested 2<div>nested 3</div></div></div>more text
